swagger: '2.0'
info:
  title: triposcert.vantiv.com
  version: '3.1.0'
host: triposcert.vantiv.com
basePath: /
schemes:
  - https
paths:
  /api/v1:
    get:
      parameters:
        - description: The ID of the business application.
          in: header
          name: tp-application-id
          required: true
          type: string
        - description: The name of the business application.
          in: header
          name: tp-application-name
          required: true
          type: string
        - description: The version of the business application.
          in: header
          name: tp-application-version
          required: true
          type: string
        - description: The authorization header.
          in: header
          name: tp-authorization
          required: true
          type: string
        - description: >-
            The Express acceptorId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-acceptor-id
          required: true
          type: string
        - description: >-
            The Express accountId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-id
          required: true
          type: string
        - description: >-
            The Express accountToken. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-token
          required: true
          type: string
        - description: >-
            A unique ID for this request. This value should be a UUID or GUID.
            <a href='https://triposcert.vantiv.com/api/help/kb/requestid.html'>more&raquo;</a>
          in: header
          name: tp-request-id
          required: true
          type: string
        - description: Set to true to have logs populated in the response.
          in: header
          name: tp-return-logs
          required: false
          type: boolean
        - default: application/json
          description: Content type for request.
          in: header
          name: Content-Type
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetServicesResponse'
      tags:
        - V1 Links
      operationId: getv1
      summary: Returns an array of links for accessing version 1.0 of the triPOS API
  /api/v1/authorization:
    post:
      parameters:
        - description: >-
            The action to perform with the authorization. This can either be
            'store' or 'forward'.
          in: query
          name: action
          required: false
          type: string
        - description: The request ID of the stored transaction to forward.
          in: query
          name: requestIdToForward
          required: false
          type: string
        - description: The ID of the business application.
          in: header
          name: tp-application-id
          required: true
          type: string
        - description: The name of the business application.
          in: header
          name: tp-application-name
          required: true
          type: string
        - description: The version of the business application.
          in: header
          name: tp-application-version
          required: true
          type: string
        - description: The authorization header.
          in: header
          name: tp-authorization
          required: true
          type: string
        - description: >-
            The Express acceptorId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-acceptor-id
          required: true
          type: string
        - description: >-
            The Express accountId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-id
          required: true
          type: string
        - description: >-
            The Express accountToken. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-token
          required: true
          type: string
        - description: >-
            A unique ID for this request. This value should be a UUID or GUID.
            <a href='https://triposcert.vantiv.com/api/help/kb/requestid.html'>more&raquo;</a>
          in: header
          name: tp-request-id
          required: true
          type: string
        - description: Set to true to have logs populated in the response.
          in: header
          name: tp-return-logs
          required: false
          type: boolean
        - default: application/json
          description: Content type for request.
          in: header
          name: Content-Type
          required: true
          type: string
        - in: body
          name: AuthorizationRequest
          required: false
          schema:
            $ref: '#/definitions/POST_AuthorizationRequest_v1_authorization'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthorizationResponse'
        '400':
          description: >-
            1) Returned if client sends in all 5 of the healthcare values as
            positive values. 2) Returned if any healthcare field has a negative
            value. 3) Returned if healthcare Total field is less than sum of the
            other healthcare fields. 4) Returned if MarketCode is not
            HotelLodging but the request includes lodging parameters on a valid
            lodging request. 5) Returned if the lodging duration is less than 0
            on a valid lodging request.
        '401':
          description: >-
            Returned if the AcceptorId, AccountId, AccountToken and TerminalId
            (config file only) are not provided in the HTTP request header or in
            the config file.
      tags:
        - Authorization
      description: >-
        This creates a transaction used to hold funds when the total amount of
        the purchase is unknown. The Incremental Authorization HATEAOS link is
        only supported for AutoRental and HotelLodging. Additionally, this
        endpoint supports QuickChip/PreRead functionality. See <a
        href='https://triposcert.vantiv.com/api/help/kb/cloud/QuickChipConfiguration.html'> QuickChip/PreRead
        documentation</a> for more information.
      operationId: postv1authorization
      summary: Creates a new card authorization based on the passed in parameters
  /api/v1/authorization/token:
    post:
      parameters:
        - description: The ID of the business application.
          in: header
          name: tp-application-id
          required: true
          type: string
        - description: The name of the business application.
          in: header
          name: tp-application-name
          required: true
          type: string
        - description: The version of the business application.
          in: header
          name: tp-application-version
          required: true
          type: string
        - description: The authorization header.
          in: header
          name: tp-authorization
          required: true
          type: string
        - description: >-
            The Express acceptorId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-acceptor-id
          required: true
          type: string
        - description: >-
            The Express accountId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-id
          required: true
          type: string
        - description: >-
            The Express accountToken. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-token
          required: true
          type: string
        - description: >-
            A unique ID for this request. This value should be a UUID or GUID.
            <a href='https://triposcert.vantiv.com/api/help/kb/requestid.html'>more&raquo;</a>
          in: header
          name: tp-request-id
          required: true
          type: string
        - description: Set to true to have logs populated in the response.
          in: header
          name: tp-return-logs
          required: false
          type: boolean
        - default: application/json
          description: Content type for request.
          in: header
          name: Content-Type
          required: true
          type: string
        - in: body
          name: TokenAuthorizationRequest
          required: false
          schema:
            $ref: >-
              #/definitions/POST_TokenAuthorizationRequest_v1_authorization_token
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TokenAuthorizationResponse'
        '401':
          description: >-
            Returned if the AcceptorId, AccountId, AccountToken and TerminalId
            (config file only) are not provided in the HTTP request header or in
            the config file.
      tags:
        - Authorization
      description: >-
        See <a href='https://triposcert.vantiv.com/api/help/kb/omniToken.html'>OmniToken documentation</a> for
        more information.
      operationId: postv1authorizationtoken
      summary: >-
        Creates a new card authorization using a token based on the passed in
        amounts
  '/api/v1/authorization/{paymentAccountId}':
    post:
      parameters:
        - description: The payment account ID.
          in: path
          name: paymentAccountId
          required: true
          type: string
        - description: The ID of the business application.
          in: header
          name: tp-application-id
          required: true
          type: string
        - description: The name of the business application.
          in: header
          name: tp-application-name
          required: true
          type: string
        - description: The version of the business application.
          in: header
          name: tp-application-version
          required: true
          type: string
        - description: The authorization header.
          in: header
          name: tp-authorization
          required: true
          type: string
        - description: >-
            The Express acceptorId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-acceptor-id
          required: true
          type: string
        - description: >-
            The Express accountId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-id
          required: true
          type: string
        - description: >-
            The Express accountToken. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-token
          required: true
          type: string
        - description: >-
            A unique ID for this request. This value should be a UUID or GUID.
            <a href='https://triposcert.vantiv.com/api/help/kb/requestid.html'>more&raquo;</a>
          in: header
          name: tp-request-id
          required: true
          type: string
        - description: Set to true to have logs populated in the response.
          in: header
          name: tp-return-logs
          required: false
          type: boolean
        - default: application/json
          description: Content type for request.
          in: header
          name: Content-Type
          required: true
          type: string
        - in: body
          name: PaymentAccountAuthorizationRequest
          required: false
          schema:
            $ref: >-
              #/definitions/POST_PaymentAccountAuthorizationRequest_v1_authorization_paymentAccountId
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PaymentAccountAuthorizationResponse'
        '401':
          description: >-
            Returned if the AcceptorId, AccountId, AccountToken and TerminalId
            (config file only) are not provided in the HTTP request header or in
            the config file.
      tags:
        - Authorization
      operationId: postv1authorizationpaymentAccountId
      summary: >-
        Creates a new payment account authorization based on the passed in
        amounts
  '/api/v1/authorization/{transactionId}/completion':
    post:
      parameters:
        - description: The ID of a previous authorization transaction.
          in: path
          name: transactionId
          required: true
          type: string
        - description: The ID of the business application.
          in: header
          name: tp-application-id
          required: true
          type: string
        - description: The name of the business application.
          in: header
          name: tp-application-name
          required: true
          type: string
        - description: The version of the business application.
          in: header
          name: tp-application-version
          required: true
          type: string
        - description: The authorization header.
          in: header
          name: tp-authorization
          required: true
          type: string
        - description: >-
            The Express acceptorId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-acceptor-id
          required: true
          type: string
        - description: >-
            The Express accountId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-id
          required: true
          type: string
        - description: >-
            The Express accountToken. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-token
          required: true
          type: string
        - description: >-
            A unique ID for this request. This value should be a UUID or GUID.
            <a href='https://triposcert.vantiv.com/api/help/kb/requestid.html'>more&raquo;</a>
          in: header
          name: tp-request-id
          required: true
          type: string
        - description: Set to true to have logs populated in the response.
          in: header
          name: tp-return-logs
          required: false
          type: boolean
        - default: application/json
          description: Content type for request.
          in: header
          name: Content-Type
          required: true
          type: string
        - in: body
          name: AuthorizationCompletionRequest
          required: false
          schema:
            $ref: >-
              #/definitions/POST_AuthorizationCompletionRequest_v1_authorization_transactionId_completion
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthorizationCompletionResponse'
        '400':
          description: >-
            1) Returned if MarketCode is not HotelLodging but the request
            includes lodging parameters on a valid lodging request. 2) Returned
            if the lodging checkInDate or checkOutDate is not in the ISO 8601
            format of YYYY-MM-DD on a valid lodging request. 3) Returned if the
            lodging roomAmount is less than 0.00 on a valid lodging request. 4)
            Returned if the lodging duration is less than 0 on a valid lodging
            request.
        '401':
          description: >-
            Returned if the AcceptorId, AccountId, AccountToken and TerminalId
            (config file only) are not provided in the HTTP request header or in
            the config file.
      tags:
        - Authorization
      description: >-
        This completes the original authorization and initiates and exchange of
        funds. The transactionId is the value returned by the original
        authorization.
      operationId: postv1authorizationtransactionIdcompletion
      summary: Updates a previous card authorization with the final totals
  '/api/v1/authorization/{transactionId}/incremental':
    post:
      parameters:
        - description: The ID of a previous authorization transaction.
          in: path
          name: transactionId
          required: true
          type: string
        - description: The ID of the business application.
          in: header
          name: tp-application-id
          required: true
          type: string
        - description: The name of the business application.
          in: header
          name: tp-application-name
          required: true
          type: string
        - description: The version of the business application.
          in: header
          name: tp-application-version
          required: true
          type: string
        - description: The authorization header.
          in: header
          name: tp-authorization
          required: true
          type: string
        - description: >-
            The Express acceptorId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-acceptor-id
          required: true
          type: string
        - description: >-
            The Express accountId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-id
          required: true
          type: string
        - description: >-
            The Express accountToken. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-token
          required: true
          type: string
        - description: >-
            A unique ID for this request. This value should be a UUID or GUID.
            <a href='https://triposcert.vantiv.com/api/help/kb/requestid.html'>more&raquo;</a>
          in: header
          name: tp-request-id
          required: true
          type: string
        - description: Set to true to have logs populated in the response.
          in: header
          name: tp-return-logs
          required: false
          type: boolean
        - default: application/json
          description: Content type for request.
          in: header
          name: Content-Type
          required: true
          type: string
        - in: body
          name: IncrementalAuthorizationRequest
          required: false
          schema:
            $ref: >-
              #/definitions/POST_IncrementalAuthorizationRequest_v1_authorization_transactionId_incremental
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/IncrementalAuthorizationResponse'
        '400':
          description: >-
            1) Returned if the laneId, transactionId or transactionAmount are
            missing from the request. 2) Returned if the triPOS.config
            marketCode AND the request configuration marketCode are both null or
            default. One must be set to a non-default value. 3) Returned if your
            MarketCode is not HotelLodging but your request includes lodging
            parameters. 4) Returned if the lodging duration is less than 0 on a
            valid lodging request.
        '401':
          description: >-
            Returned if the AcceptorId, AccountId, AccountToken and TerminalId
            (config file only) are not provided in the HTTP request header or in
            the config file.
      tags:
        - Authorization
      description: >-
        This increments the original authorization by the given
        transactionAmount. The transactionId is the value returned by the
        original authorization. <a
        href='https://triposcert.vantiv.com/api/help/kb/incrementalAuth.html'>More&raquo;</a>
      operationId: postv1authorizationtransactionIdincremental
      summary: Increases a previous card authorization by the given transactionAmount
  /api/v1/balance:
    post:
      parameters:
        - description: The ID of the business application.
          in: header
          name: tp-application-id
          required: true
          type: string
        - description: The name of the business application.
          in: header
          name: tp-application-name
          required: true
          type: string
        - description: The version of the business application.
          in: header
          name: tp-application-version
          required: true
          type: string
        - description: The authorization header.
          in: header
          name: tp-authorization
          required: true
          type: string
        - description: >-
            The Express acceptorId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-acceptor-id
          required: true
          type: string
        - description: >-
            The Express accountId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-id
          required: true
          type: string
        - description: >-
            The Express accountToken. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-token
          required: true
          type: string
        - description: >-
            A unique ID for this request. This value should be a UUID or GUID.
            <a href='https://triposcert.vantiv.com/api/help/kb/requestid.html'>more&raquo;</a>
          in: header
          name: tp-request-id
          required: true
          type: string
        - description: Set to true to have logs populated in the response.
          in: header
          name: tp-return-logs
          required: false
          type: boolean
        - default: application/json
          description: Content type for request.
          in: header
          name: Content-Type
          required: true
          type: string
        - in: body
          name: BalanceRequest
          required: false
          schema:
            $ref: '#/definitions/POST_BalanceRequest_v1_balance'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BalanceResponse'
        '401':
          description: >-
            Returned if the AcceptorId, AccountId, AccountToken and TerminalId
            (config file only) are not provided in the HTTP request header or in
            the config file.
      tags:
        - Balance
      operationId: postv1balance
      summary: Requests a balance for a gift/loyalty card
  '/api/v1/barcode/{laneId}':
    get:
      parameters:
        - description: The lane ID.
          format: int32
          in: path
          name: laneId
          required: true
          type: integer
        - description: Sets the Aimer LED lights on/off.
          in: query
          name: aimerLightsOn
          required: false
          type: string
        - description: 'Sets the Image Mode to 1D, 2D, etc.'
          in: query
          name: image
          required: false
          type: string
        - description: Sets the Lighting Mode to a shorter or longer exposure time.
          in: query
          name: lighting
          required: false
          type: string
        - description: The message to be displayed on the PIN pad screen.
          in: query
          name: message
          required: false
          type: string
        - description: Sets the Scan LED lights on/off.
          in: query
          name: scanLightsOn
          required: false
          type: string
        - description: >-
            Sets the amount of time (in seconds) triPOS should wait to receive
            the barcode data
          in: query
          name: timeout
          required: false
          type: string
        - description: Sets the option to use the trigger to start a scan.
          in: query
          name: useTrigger
          required: false
          type: string
        - description: The ID of the business application.
          in: header
          name: tp-application-id
          required: true
          type: string
        - description: The name of the business application.
          in: header
          name: tp-application-name
          required: true
          type: string
        - description: The version of the business application.
          in: header
          name: tp-application-version
          required: true
          type: string
        - description: The authorization header.
          in: header
          name: tp-authorization
          required: true
          type: string
        - description: >-
            The Express acceptorId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-acceptor-id
          required: true
          type: string
        - description: >-
            The Express accountId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-id
          required: true
          type: string
        - description: >-
            The Express accountToken. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-token
          required: true
          type: string
        - description: >-
            A unique ID for this request. This value should be a UUID or GUID.
            <a href='https://triposcert.vantiv.com/api/help/kb/requestid.html'>more&raquo;</a>
          in: header
          name: tp-request-id
          required: true
          type: string
        - description: Set to true to have logs populated in the response.
          in: header
          name: tp-return-logs
          required: false
          type: boolean
        - default: application/json
          description: Content type for request.
          in: header
          name: Content-Type
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BarcodeResponse'
      tags:
        - Barcode
      description: >-
        Use the barcode endpoint to initiate and retrieve the data from a
        barcode scan of a capable PIN pad. See <a
        href='https://triposcert.vantiv.com/api/help/kb/barcode.html'>barcode documentation</a> for more
        information.
      operationId: getv1barcodelaneId
      summary: Initiates and retrieves the data from a barcode scan.
  '/api/v1/binQuery/{laneId}':
    get:
      parameters:
        - description: The lane ID.
          format: int32
          in: path
          name: laneId
          required: true
          type: integer
        - description: The flag that invokes manual entry directly.
          in: query
          name: invokeManualEntry
          required: false
          type: boolean
        - description: >-
            Invokes prompt for cardholder to enter card security code for manual
            keyed card entry.
          in: query
          name: isCscSupported
          required: false
          type: string
        - description: The ID of the business application.
          in: header
          name: tp-application-id
          required: true
          type: string
        - description: The name of the business application.
          in: header
          name: tp-application-name
          required: true
          type: string
        - description: The version of the business application.
          in: header
          name: tp-application-version
          required: true
          type: string
        - description: The authorization header.
          in: header
          name: tp-authorization
          required: true
          type: string
        - description: >-
            The Express acceptorId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-acceptor-id
          required: true
          type: string
        - description: >-
            The Express accountId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-id
          required: true
          type: string
        - description: >-
            The Express accountToken. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-token
          required: true
          type: string
        - description: >-
            A unique ID for this request. This value should be a UUID or GUID.
            <a href='https://triposcert.vantiv.com/api/help/kb/requestid.html'>more&raquo;</a>
          in: header
          name: tp-request-id
          required: true
          type: string
        - description: Set to true to have logs populated in the response.
          in: header
          name: tp-return-logs
          required: false
          type: boolean
        - default: application/json
          description: Content type for request.
          in: header
          name: Content-Type
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BinQueryResponse'
        '401':
          description: >-
            Returned if the AcceptorId, AccountId, AccountToken and TerminalId
            (config file only) are not provided in the HTTP request header or in
            the config file.
        '404':
          description: Returned if card is not found in the BIN table
      tags:
        - BinQuery
      description: >-
        Use the GET /binQuery/{laneId} endpoint to determine if a card falls
        into a specific BIN range such as prepaid, healthcare, or debit. The BIN
        query endpoint always makes an online call to the host in order to
        ensure the most up-to-date BIN information. If the card swiped or
        inserted is not found in the online BIN table, this endpoint returns a
        404 Not Found HTTP response.
      operationId: getv1binQuerylaneId
      summary: >-
        Determine if a card falls into a specific BIN range such as prepaid,
        healthcare, or debit
  /api/v1/card:
    get:
      parameters:
        - description: The ID of the business application.
          in: header
          name: tp-application-id
          required: true
          type: string
        - description: The name of the business application.
          in: header
          name: tp-application-name
          required: true
          type: string
        - description: The version of the business application.
          in: header
          name: tp-application-version
          required: true
          type: string
        - description: The authorization header.
          in: header
          name: tp-authorization
          required: true
          type: string
        - description: >-
            The Express acceptorId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-acceptor-id
          required: true
          type: string
        - description: >-
            The Express accountId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-id
          required: true
          type: string
        - description: >-
            The Express accountToken. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-token
          required: true
          type: string
        - description: >-
            A unique ID for this request. This value should be a UUID or GUID.
            <a href='https://triposcert.vantiv.com/api/help/kb/requestid.html'>more&raquo;</a>
          in: header
          name: tp-request-id
          required: true
          type: string
        - description: Set to true to have logs populated in the response.
          in: header
          name: tp-return-logs
          required: false
          type: boolean
        - default: application/json
          description: Content type for request.
          in: header
          name: Content-Type
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CardResponse'
      tags:
        - Card
      operationId: getv1card
      summary: Return a list of the triPOS Card endpoints
  /api/v1/card/financial:
    get:
      parameters:
        - description: The ID of the business application.
          in: header
          name: tp-application-id
          required: true
          type: string
        - description: The name of the business application.
          in: header
          name: tp-application-name
          required: true
          type: string
        - description: The version of the business application.
          in: header
          name: tp-application-version
          required: true
          type: string
        - description: The authorization header.
          in: header
          name: tp-authorization
          required: true
          type: string
        - description: >-
            The Express acceptorId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-acceptor-id
          required: true
          type: string
        - description: >-
            The Express accountId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-id
          required: true
          type: string
        - description: >-
            The Express accountToken. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-token
          required: true
          type: string
        - description: >-
            A unique ID for this request. This value should be a UUID or GUID.
            <a href='https://triposcert.vantiv.com/api/help/kb/requestid.html'>more&raquo;</a>
          in: header
          name: tp-request-id
          required: true
          type: string
        - description: Set to true to have logs populated in the response.
          in: header
          name: tp-return-logs
          required: false
          type: boolean
        - default: application/json
          description: Content type for request.
          in: header
          name: Content-Type
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/FinancialCardResponse'
      tags:
        - Card
      operationId: getv1cardfinancial
      summary: Return a list of the triPOS FinancialCard endpoints
  '/api/v1/card/financial/{laneId}':
    get:
      parameters:
        - description: The lane ID.
          format: int32
          in: path
          name: laneId
          required: true
          type: integer
        - description: The flag that indicates if encrypted card data needs to be obtained.
          in: query
          name: isEncryptedDataNeeded
          required: false
          type: boolean
        - description: The flag that invokes manual entry directly.
          in: query
          name: invokeManualEntry
          required: false
          type: boolean
        - description: >-
            Invokes prompt for cardholder to enter card security code for manual
            keyed card entry.
          in: query
          name: isCscSupported
          required: false
          type: string
        - description: The ID of the business application.
          in: header
          name: tp-application-id
          required: true
          type: string
        - description: The name of the business application.
          in: header
          name: tp-application-name
          required: true
          type: string
        - description: The version of the business application.
          in: header
          name: tp-application-version
          required: true
          type: string
        - description: The authorization header.
          in: header
          name: tp-authorization
          required: true
          type: string
        - description: >-
            The Express acceptorId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-acceptor-id
          required: true
          type: string
        - description: >-
            The Express accountId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-id
          required: true
          type: string
        - description: >-
            The Express accountToken. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-token
          required: true
          type: string
        - description: >-
            A unique ID for this request. This value should be a UUID or GUID.
            <a href='https://triposcert.vantiv.com/api/help/kb/requestid.html'>more&raquo;</a>
          in: header
          name: tp-request-id
          required: true
          type: string
        - description: Set to true to have logs populated in the response.
          in: header
          name: tp-return-logs
          required: false
          type: boolean
        - default: application/json
          description: Content type for request.
          in: header
          name: Content-Type
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/FinancialCardResponse'
        '404':
          description: Returned if no financial data can be found when the card is swiped.
      tags:
        - Card
      operationId: getv1cardfinanciallaneId
      summary: Get financial card info
  /api/v1/card/nonfinancial:
    get:
      parameters:
        - description: The ID of the business application.
          in: header
          name: tp-application-id
          required: true
          type: string
        - description: The name of the business application.
          in: header
          name: tp-application-name
          required: true
          type: string
        - description: The version of the business application.
          in: header
          name: tp-application-version
          required: true
          type: string
        - description: The authorization header.
          in: header
          name: tp-authorization
          required: true
          type: string
        - description: >-
            The Express acceptorId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-acceptor-id
          required: true
          type: string
        - description: >-
            The Express accountId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-id
          required: true
          type: string
        - description: >-
            The Express accountToken. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-token
          required: true
          type: string
        - description: >-
            A unique ID for this request. This value should be a UUID or GUID.
            <a href='https://triposcert.vantiv.com/api/help/kb/requestid.html'>more&raquo;</a>
          in: header
          name: tp-request-id
          required: true
          type: string
        - description: Set to true to have logs populated in the response.
          in: header
          name: tp-return-logs
          required: false
          type: boolean
        - default: application/json
          description: Content type for request.
          in: header
          name: Content-Type
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/NonFinancialCardResponse'
      tags:
        - Card
      operationId: getv1cardnonfinancial
      summary: Return a list of the triPOS NonFinancialCard endpoints
  '/api/v1/card/nonfinancial/{laneId}':
    get:
      parameters:
        - description: The lane ID.
          format: int32
          in: path
          name: laneId
          required: true
          type: integer
        - description: The flag that invokes manual entry directly.
          in: query
          name: invokeManualEntry
          required: false
          type: boolean
        - description: >-
            Invokes prompt for cardholder to enter card security code for manual
            keyed card entry.
          in: query
          name: isCscSupported
          required: false
          type: string
        - description: The ID of the business application.
          in: header
          name: tp-application-id
          required: true
          type: string
        - description: The name of the business application.
          in: header
          name: tp-application-name
          required: true
          type: string
        - description: The version of the business application.
          in: header
          name: tp-application-version
          required: true
          type: string
        - description: The authorization header.
          in: header
          name: tp-authorization
          required: true
          type: string
        - description: >-
            The Express acceptorId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-acceptor-id
          required: true
          type: string
        - description: >-
            The Express accountId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-id
          required: true
          type: string
        - description: >-
            The Express accountToken. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-token
          required: true
          type: string
        - description: >-
            A unique ID for this request. This value should be a UUID or GUID.
            <a href='https://triposcert.vantiv.com/api/help/kb/requestid.html'>more&raquo;</a>
          in: header
          name: tp-request-id
          required: true
          type: string
        - description: Set to true to have logs populated in the response.
          in: header
          name: tp-return-logs
          required: false
          type: boolean
        - default: application/json
          description: Content type for request.
          in: header
          name: Content-Type
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/NonFinancialCardResponse'
        '404':
          description: >-
            If no 'non-financial' data can be found when the card is swiped,
            tripos returns an HTTP status code of 404.
      tags:
        - Card
      operationId: getv1cardnonfinanciallaneId
      summary: Get non-financial card info
  '/api/v1/card/{laneId}':
    get:
      parameters:
        - description: The lane ID.
          format: int32
          in: path
          name: laneId
          required: true
          type: integer
        - description: The flag that indicates if encrypted card data needs to be obtained.
          in: query
          name: isEncryptedDataNeeded
          required: false
          type: boolean
        - description: The flag that invokes manual entry directly.
          in: query
          name: invokeManualEntry
          required: false
          type: boolean
        - description: >-
            Invokes prompt for cardholder to enter card security code for manual
            keyed card entry.
          in: query
          name: isCscSupported
          required: false
          type: string
        - description: The ID of the business application.
          in: header
          name: tp-application-id
          required: true
          type: string
        - description: The name of the business application.
          in: header
          name: tp-application-name
          required: true
          type: string
        - description: The version of the business application.
          in: header
          name: tp-application-version
          required: true
          type: string
        - description: The authorization header.
          in: header
          name: tp-authorization
          required: true
          type: string
        - description: >-
            The Express acceptorId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-acceptor-id
          required: true
          type: string
        - description: >-
            The Express accountId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-id
          required: true
          type: string
        - description: >-
            The Express accountToken. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-token
          required: true
          type: string
        - description: >-
            A unique ID for this request. This value should be a UUID or GUID.
            <a href='https://triposcert.vantiv.com/api/help/kb/requestid.html'>more&raquo;</a>
          in: header
          name: tp-request-id
          required: true
          type: string
        - description: Set to true to have logs populated in the response.
          in: header
          name: tp-return-logs
          required: false
          type: boolean
        - default: application/json
          description: Content type for request.
          in: header
          name: Content-Type
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CardResponse'
        '404':
          description: >-
            If no data can be found when the card is swiped, tripos returns an
            HTTP status code of 404.
      tags:
        - Card
      operationId: getv1cardlaneId
      summary: Get card info
  /api/v1/credit:
    post:
      parameters:
        - description: >-
            The action to perform with the refund. This can either be 'store' or
            'forward'. More information on <a
            href='https://triposcert.vantiv.com/api/help/kb/storeForward.html'>Store and Forward</a> here.
          in: query
          name: action
          required: false
          type: string
        - description: The request ID of the stored transaction to forward.
          in: query
          name: requestIdToForward
          required: false
          type: string
        - description: The ID of the business application.
          in: header
          name: tp-application-id
          required: true
          type: string
        - description: The name of the business application.
          in: header
          name: tp-application-name
          required: true
          type: string
        - description: The version of the business application.
          in: header
          name: tp-application-version
          required: true
          type: string
        - description: The authorization header.
          in: header
          name: tp-authorization
          required: true
          type: string
        - description: >-
            The Express acceptorId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-acceptor-id
          required: true
          type: string
        - description: >-
            The Express accountId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-id
          required: true
          type: string
        - description: >-
            The Express accountToken. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-token
          required: true
          type: string
        - description: >-
            A unique ID for this request. This value should be a UUID or GUID.
            <a href='https://triposcert.vantiv.com/api/help/kb/requestid.html'>more&raquo;</a>
          in: header
          name: tp-request-id
          required: true
          type: string
        - description: Set to true to have logs populated in the response.
          in: header
          name: tp-return-logs
          required: false
          type: boolean
        - default: application/json
          description: Content type for request.
          in: header
          name: Content-Type
          required: true
          type: string
        - in: body
          name: RefundRequest
          required: false
          schema:
            $ref: '#/definitions/POST_RefundRequest_v1_credit'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RefundResponse'
        '401':
          description: >-
            Returned if the AcceptorId, AccountId, AccountToken and TerminalId
            (config file only) are not provided in the HTTP request header or in
            the config file.
      tags:
        - Credit
      operationId: postv1credit
      summary: '[Deprecated] Use /v1/refund instead'
  /api/v1/display:
    post:
      parameters:
        - description: The ID of the business application.
          in: header
          name: tp-application-id
          required: true
          type: string
        - description: The name of the business application.
          in: header
          name: tp-application-name
          required: true
          type: string
        - description: The version of the business application.
          in: header
          name: tp-application-version
          required: true
          type: string
        - description: The authorization header.
          in: header
          name: tp-authorization
          required: true
          type: string
        - description: >-
            The Express acceptorId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-acceptor-id
          required: true
          type: string
        - description: >-
            The Express accountId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-id
          required: true
          type: string
        - description: >-
            The Express accountToken. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-token
          required: true
          type: string
        - description: >-
            A unique ID for this request. This value should be a UUID or GUID.
            <a href='https://triposcert.vantiv.com/api/help/kb/requestid.html'>more&raquo;</a>
          in: header
          name: tp-request-id
          required: true
          type: string
        - description: Set to true to have logs populated in the response.
          in: header
          name: tp-return-logs
          required: false
          type: boolean
        - default: application/json
          description: Content type for request.
          in: header
          name: Content-Type
          required: true
          type: string
        - in: body
          name: DisplayRequest
          required: false
          schema:
            $ref: '#/definitions/POST_DisplayRequest_v1_display'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisplayResponse'
        '400':
          description: Returned if parameter values are missing or invalid.
      tags:
        - Display
      description: >-
        Use the display endpoint to display a text on the PIN pad. This endpoint
        returns an HTTP status code of 200 if the text was successfully
        displayed on the PIN pad. See <a href='https://triposcert.vantiv.com/api/help/kb/display.html'>display
        documentation</a> fore more information.
      operationId: postv1display
      summary: Displays a text on the PIN pad.
  /api/v1/ebtVoucher:
    post:
      parameters:
        - description: The ID of the business application.
          in: header
          name: tp-application-id
          required: true
          type: string
        - description: The name of the business application.
          in: header
          name: tp-application-name
          required: true
          type: string
        - description: The version of the business application.
          in: header
          name: tp-application-version
          required: true
          type: string
        - description: The authorization header.
          in: header
          name: tp-authorization
          required: true
          type: string
        - description: >-
            The Express acceptorId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-acceptor-id
          required: true
          type: string
        - description: >-
            The Express accountId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-id
          required: true
          type: string
        - description: >-
            The Express accountToken. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-token
          required: true
          type: string
        - description: >-
            A unique ID for this request. This value should be a UUID or GUID.
            <a href='https://triposcert.vantiv.com/api/help/kb/requestid.html'>more&raquo;</a>
          in: header
          name: tp-request-id
          required: true
          type: string
        - description: Set to true to have logs populated in the response.
          in: header
          name: tp-return-logs
          required: false
          type: boolean
        - default: application/json
          description: Content type for request.
          in: header
          name: Content-Type
          required: true
          type: string
        - in: body
          name: EbtVoucherRequest
          required: false
          schema:
            $ref: '#/definitions/POST_EbtVoucherRequest_v1_ebtVoucher'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EbtVoucherResponse'
        '400':
          description: >-
            Returned if the transaction amount is less than 0 on a valid
            request.
        '401':
          description: >-
            Returned if the AcceptorId, AccountId, AccountToken and TerminalId
            (config file only) are not provided in the HTTP request header or in
            the config file.
        '404':
          description: Returned if the laneId is not valid.
        '500':
          description: Returned if the PIN pad is disconnected or lane is already in use.
      tags:
        - EbtVoucher
      operationId: postv1ebtVoucher
      summary: Creates a new EBT voucher sale based on the passed in amount
  /api/v1/force:
    get:
      parameters:
        - description: The ID of the business application.
          in: header
          name: tp-application-id
          required: true
          type: string
        - description: The name of the business application.
          in: header
          name: tp-application-name
          required: true
          type: string
        - description: The version of the business application.
          in: header
          name: tp-application-version
          required: true
          type: string
        - description: The authorization header.
          in: header
          name: tp-authorization
          required: true
          type: string
        - description: >-
            The Express acceptorId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-acceptor-id
          required: true
          type: string
        - description: >-
            The Express accountId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-id
          required: true
          type: string
        - description: >-
            The Express accountToken. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-token
          required: true
          type: string
        - description: >-
            A unique ID for this request. This value should be a UUID or GUID.
            <a href='https://triposcert.vantiv.com/api/help/kb/requestid.html'>more&raquo;</a>
          in: header
          name: tp-request-id
          required: true
          type: string
        - description: Set to true to have logs populated in the response.
          in: header
          name: tp-return-logs
          required: false
          type: boolean
        - default: application/json
          description: Content type for request.
          in: header
          name: Content-Type
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ForceResponse'
      tags:
        - Force
      operationId: getv1force
      summary: Returns a the list of force endpoints
  /api/v1/force/credit:
    post:
      parameters:
        - description: The ID of the business application.
          in: header
          name: tp-application-id
          required: true
          type: string
        - description: The name of the business application.
          in: header
          name: tp-application-name
          required: true
          type: string
        - description: The version of the business application.
          in: header
          name: tp-application-version
          required: true
          type: string
        - description: The authorization header.
          in: header
          name: tp-authorization
          required: true
          type: string
        - description: >-
            The Express acceptorId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-acceptor-id
          required: true
          type: string
        - description: >-
            The Express accountId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-id
          required: true
          type: string
        - description: >-
            The Express accountToken. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-token
          required: true
          type: string
        - description: >-
            A unique ID for this request. This value should be a UUID or GUID.
            <a href='https://triposcert.vantiv.com/api/help/kb/requestid.html'>more&raquo;</a>
          in: header
          name: tp-request-id
          required: true
          type: string
        - description: Set to true to have logs populated in the response.
          in: header
          name: tp-return-logs
          required: false
          type: boolean
        - default: application/json
          description: Content type for request.
          in: header
          name: Content-Type
          required: true
          type: string
        - in: body
          name: ForceCreditRequest
          required: false
          schema:
            $ref: '#/definitions/POST_ForceCreditRequest_v1_force_credit'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreditCardForceResponse'
        '400':
          description: >-
            1) Returned if MarketCode is not HotelLodging but the request
            includes lodging parameters on a valid lodging request. 2) Returned
            if the lodging checkInDate or checkOutDate is not in the ISO 8601
            format of YYYY-MM-DD on a valid lodging request. 3) Returned if the
            lodging roomAmount is less than 0.00 on a valid lodging request. 4)
            Returned if the lodging duration is less than 0 on a valid lodging
            request.
        '401':
          description: >-
            Returned if the AcceptorId, AccountId, AccountToken and TerminalId
            (config file only) are not provided in the HTTP request header or in
            the config file.
      tags:
        - Force
      description: >-
        This endpoint supports QuickChip/PreRead functionality. See <a
        href='https://triposcert.vantiv.com/api/help/kb/cloud/QuickChipConfiguration.html'> QuickChip/PreRead
        documentation</a> for more information.
      operationId: postv1forcecredit
      summary: Creates a new credit card force based on the passed in amounts
  /api/v1/gift:
    get:
      parameters:
        - description: The ID of the business application.
          in: header
          name: tp-application-id
          required: true
          type: string
        - description: The name of the business application.
          in: header
          name: tp-application-name
          required: true
          type: string
        - description: The version of the business application.
          in: header
          name: tp-application-version
          required: true
          type: string
        - description: The authorization header.
          in: header
          name: tp-authorization
          required: true
          type: string
        - description: >-
            The Express acceptorId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-acceptor-id
          required: true
          type: string
        - description: >-
            The Express accountId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-id
          required: true
          type: string
        - description: >-
            The Express accountToken. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-token
          required: true
          type: string
        - description: >-
            A unique ID for this request. This value should be a UUID or GUID.
            <a href='https://triposcert.vantiv.com/api/help/kb/requestid.html'>more&raquo;</a>
          in: header
          name: tp-request-id
          required: true
          type: string
        - description: Set to true to have logs populated in the response.
          in: header
          name: tp-return-logs
          required: false
          type: boolean
        - default: application/json
          description: Content type for request.
          in: header
          name: Content-Type
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GiftResponse'
      tags:
        - Gift
      operationId: getv1gift
      summary: Return the endpoints used to manage Vantiv & Valutec Gift Cards
  /api/v1/gift/activate:
    post:
      parameters:
        - description: The ID of the business application.
          in: header
          name: tp-application-id
          required: true
          type: string
        - description: The name of the business application.
          in: header
          name: tp-application-name
          required: true
          type: string
        - description: The version of the business application.
          in: header
          name: tp-application-version
          required: true
          type: string
        - description: The authorization header.
          in: header
          name: tp-authorization
          required: true
          type: string
        - description: >-
            The Express acceptorId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-acceptor-id
          required: true
          type: string
        - description: >-
            The Express accountId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-id
          required: true
          type: string
        - description: >-
            The Express accountToken. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-token
          required: true
          type: string
        - description: >-
            A unique ID for this request. This value should be a UUID or GUID.
            <a href='https://triposcert.vantiv.com/api/help/kb/requestid.html'>more&raquo;</a>
          in: header
          name: tp-request-id
          required: true
          type: string
        - description: Set to true to have logs populated in the response.
          in: header
          name: tp-return-logs
          required: false
          type: boolean
        - default: application/json
          description: Content type for request.
          in: header
          name: Content-Type
          required: true
          type: string
        - in: body
          name: ActivateGiftRequest
          required: false
          schema:
            $ref: '#/definitions/POST_ActivateGiftRequest_v1_gift_activate'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ActivateGiftResponse'
      tags:
        - Gift
      operationId: postv1giftactivate
      summary: Activates the given gift/loyalty card with the specified amount
  /api/v1/gift/balanceTransfer:
    post:
      parameters:
        - description: The ID of the business application.
          in: header
          name: tp-application-id
          required: true
          type: string
        - description: The name of the business application.
          in: header
          name: tp-application-name
          required: true
          type: string
        - description: The version of the business application.
          in: header
          name: tp-application-version
          required: true
          type: string
        - description: The authorization header.
          in: header
          name: tp-authorization
          required: true
          type: string
        - description: >-
            The Express acceptorId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-acceptor-id
          required: true
          type: string
        - description: >-
            The Express accountId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-id
          required: true
          type: string
        - description: >-
            The Express accountToken. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-token
          required: true
          type: string
        - description: >-
            A unique ID for this request. This value should be a UUID or GUID.
            <a href='https://triposcert.vantiv.com/api/help/kb/requestid.html'>more&raquo;</a>
          in: header
          name: tp-request-id
          required: true
          type: string
        - description: Set to true to have logs populated in the response.
          in: header
          name: tp-return-logs
          required: false
          type: boolean
        - default: application/json
          description: Content type for request.
          in: header
          name: Content-Type
          required: true
          type: string
        - in: body
          name: BalanceTransferGiftRequest
          required: false
          schema:
            $ref: >-
              #/definitions/POST_BalanceTransferGiftRequest_v1_gift_balanceTransfer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BalanceTransferGiftResponse'
        '400':
          description: >-
            Returned if all the alternate card number fields are missing or
            empty.
      tags:
        - Gift
      description: >-
        Notes for the Valutec Gift program:<br> • Only one source (From) card
        can be used (AlternateCardNumber1).<br> • Source (From) card must be
        Active, and Destination (To) card must be Inactive. Upon a successful
        GiftCardBalanceTransfer request, the From card will automatically be
        Deactivated, and the To card will automatically be Activated.<br> Notes
        for the Vantiv Core Gift program:<br> • Up to three source (From) cards
        can be used.<br> • Source (From) cards must be Active, but Destination
        (To) cards may be Active or Inactive. Upon a successful
        GiftCardBalanceTransfer request, the From cards will automatically be
        Deactivated, and the To card will automatically be Activated (if not
        already previously Active).
      operationId: postv1giftbalanceTransfer
      summary: Transfer funds from one card to another
  /api/v1/gift/close:
    post:
      parameters:
        - description: The ID of the business application.
          in: header
          name: tp-application-id
          required: true
          type: string
        - description: The name of the business application.
          in: header
          name: tp-application-name
          required: true
          type: string
        - description: The version of the business application.
          in: header
          name: tp-application-version
          required: true
          type: string
        - description: The authorization header.
          in: header
          name: tp-authorization
          required: true
          type: string
        - description: >-
            The Express acceptorId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-acceptor-id
          required: true
          type: string
        - description: >-
            The Express accountId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-id
          required: true
          type: string
        - description: >-
            The Express accountToken. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-token
          required: true
          type: string
        - description: >-
            A unique ID for this request. This value should be a UUID or GUID.
            <a href='https://triposcert.vantiv.com/api/help/kb/requestid.html'>more&raquo;</a>
          in: header
          name: tp-request-id
          required: true
          type: string
        - description: Set to true to have logs populated in the response.
          in: header
          name: tp-return-logs
          required: false
          type: boolean
        - default: application/json
          description: Content type for request.
          in: header
          name: Content-Type
          required: true
          type: string
        - in: body
          name: CloseGiftRequest
          required: false
          schema:
            $ref: '#/definitions/POST_CloseGiftRequest_v1_gift_close'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CloseGiftResponse'
      tags:
        - Gift
      description: >-
        This is used to close an active Valutec gift/loyalty card and reduce its
        balance to $0.  Close may be used to either close a card due to
        fraudulent use, or, if the customer demands a refund, it may be used to
        provide a full cash refund of the remaining balance on the card.  Once
        this close request is complete, the gift/loyalty card number is closed
        and can no longer be used (i.e. cannot be re-activated).
      operationId: postv1giftclose
      summary: Close a Valutec gift/loyalty card
  /api/v1/gift/reload:
    post:
      parameters:
        - description: The ID of the business application.
          in: header
          name: tp-application-id
          required: true
          type: string
        - description: The name of the business application.
          in: header
          name: tp-application-name
          required: true
          type: string
        - description: The version of the business application.
          in: header
          name: tp-application-version
          required: true
          type: string
        - description: The authorization header.
          in: header
          name: tp-authorization
          required: true
          type: string
        - description: >-
            The Express acceptorId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-acceptor-id
          required: true
          type: string
        - description: >-
            The Express accountId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-id
          required: true
          type: string
        - description: >-
            The Express accountToken. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-token
          required: true
          type: string
        - description: >-
            A unique ID for this request. This value should be a UUID or GUID.
            <a href='https://triposcert.vantiv.com/api/help/kb/requestid.html'>more&raquo;</a>
          in: header
          name: tp-request-id
          required: true
          type: string
        - description: Set to true to have logs populated in the response.
          in: header
          name: tp-return-logs
          required: false
          type: boolean
        - default: application/json
          description: Content type for request.
          in: header
          name: Content-Type
          required: true
          type: string
        - in: body
          name: ReloadGiftRequest
          required: false
          schema:
            $ref: '#/definitions/POST_ReloadGiftRequest_v1_gift_reload'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ReloadGiftResponse'
      tags:
        - Gift
      operationId: postv1giftreload
      summary: Reloads the given gift/loyalty card with the specified amount
  /api/v1/gift/unload:
    post:
      parameters:
        - description: The ID of the business application.
          in: header
          name: tp-application-id
          required: true
          type: string
        - description: The name of the business application.
          in: header
          name: tp-application-name
          required: true
          type: string
        - description: The version of the business application.
          in: header
          name: tp-application-version
          required: true
          type: string
        - description: The authorization header.
          in: header
          name: tp-authorization
          required: true
          type: string
        - description: >-
            The Express acceptorId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-acceptor-id
          required: true
          type: string
        - description: >-
            The Express accountId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-id
          required: true
          type: string
        - description: >-
            The Express accountToken. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-token
          required: true
          type: string
        - description: >-
            A unique ID for this request. This value should be a UUID or GUID.
            <a href='https://triposcert.vantiv.com/api/help/kb/requestid.html'>more&raquo;</a>
          in: header
          name: tp-request-id
          required: true
          type: string
        - description: Set to true to have logs populated in the response.
          in: header
          name: tp-return-logs
          required: false
          type: boolean
        - default: application/json
          description: Content type for request.
          in: header
          name: Content-Type
          required: true
          type: string
        - in: body
          name: UnloadGiftRequest
          required: false
          schema:
            $ref: '#/definitions/POST_UnloadGiftRequest_v1_gift_unload'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UnloadGiftResponse'
      tags:
        - Gift
      description: >-
        This is used to remove funds from an existing active Valutec gift card. 
        The Unload is typically associated with a payment transaction at the POS
        register when the merchant wishes to decrease the balance of the card
        due to a cash.  This method could also be used to adjust the balance due
        to a processing or customer service issue.  This method will result in
        the card being deactivated, though the card can be re-activated and used
        again.
      operationId: postv1giftunload
      summary: Remove funds from a Valutec gift card
  /api/v1/idle:
    post:
      parameters:
        - description: The ID of the business application.
          in: header
          name: tp-application-id
          required: true
          type: string
        - description: The name of the business application.
          in: header
          name: tp-application-name
          required: true
          type: string
        - description: The version of the business application.
          in: header
          name: tp-application-version
          required: true
          type: string
        - description: The authorization header.
          in: header
          name: tp-authorization
          required: true
          type: string
        - description: >-
            The Express acceptorId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-acceptor-id
          required: true
          type: string
        - description: >-
            The Express accountId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-id
          required: true
          type: string
        - description: >-
            The Express accountToken. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-token
          required: true
          type: string
        - description: >-
            A unique ID for this request. This value should be a UUID or GUID.
            <a href='https://triposcert.vantiv.com/api/help/kb/requestid.html'>more&raquo;</a>
          in: header
          name: tp-request-id
          required: true
          type: string
        - description: Set to true to have logs populated in the response.
          in: header
          name: tp-return-logs
          required: false
          type: boolean
        - default: application/json
          description: Content type for request.
          in: header
          name: Content-Type
          required: true
          type: string
        - in: body
          name: IdleRequest
          required: false
          schema:
            $ref: '#/definitions/POST_IdleRequest_v1_idle'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/IdleResponse'
        '400':
          description: Returned if the laneId is not valid or the lane is already in use
        '500':
          description: Returned if the PIN pad is disconnected
      tags:
        - Idle
      description: >-
        Use the idle endpoint to return the PIN pad to the idle screen. See <a
        href='https://triposcert.vantiv.com/api/help/kb/idle.html'>idle documentation</a> for more information.
      operationId: postv1idle
      summary: Displays the idle screen on the specified PIN pad.
  '/api/v1/input/{laneId}':
    get:
      parameters:
        - description: The lane ID.
          in: path
          name: laneId
          required: true
          type: string
        - description: >-
            The type of prompt to display on the PIN pad. <a
            href='https://triposcert.vantiv.com/api/help/kb/input.html'>more&raquo;</a>
          in: query
          name: promptType
          required: true
          type: string
        - description: >-
            The PIN pad uses this format to display the input on the PIN pad as
            the cardholder enters it. <a
            href='https://triposcert.vantiv.com/api/help/kb/input.html'>more&raquo;</a>
          in: query
          name: formatType
          required: false
          type: string
        - description: The ID of the business application.
          in: header
          name: tp-application-id
          required: true
          type: string
        - description: The name of the business application.
          in: header
          name: tp-application-name
          required: true
          type: string
        - description: The version of the business application.
          in: header
          name: tp-application-version
          required: true
          type: string
        - description: The authorization header.
          in: header
          name: tp-authorization
          required: true
          type: string
        - description: >-
            The Express acceptorId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-acceptor-id
          required: true
          type: string
        - description: >-
            The Express accountId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-id
          required: true
          type: string
        - description: >-
            The Express accountToken. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-token
          required: true
          type: string
        - description: >-
            A unique ID for this request. This value should be a UUID or GUID.
            <a href='https://triposcert.vantiv.com/api/help/kb/requestid.html'>more&raquo;</a>
          in: header
          name: tp-request-id
          required: true
          type: string
        - description: Set to true to have logs populated in the response.
          in: header
          name: tp-return-logs
          required: false
          type: boolean
        - default: application/json
          description: Content type for request.
          in: header
          name: Content-Type
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/InputResponse'
        '400':
          description: Returned if parameter values are missing or invalid.
        '500':
          description: >-
            Returned if the cardholder allows the PIN pad to time out before
            submitting input.
      tags:
        - Input
      description: >-
        Use the input endpoint to prompt the cardholder for input. This endpoint
        returns an HTTP status code of 200 if the cardholder pressed the ok or
        cancel button. See <a href='https://triposcert.vantiv.com/api/help/kb/input.html'>input
        documentation</a> for more information.
      operationId: getv1inputlaneId
      summary: >-
        Displays the prompt associated to the promptType and accepts input text
        from the card holder
  /api/v1/paymentAccount:
    post:
      parameters:
        - description: The ID of the business application.
          in: header
          name: tp-application-id
          required: true
          type: string
        - description: The name of the business application.
          in: header
          name: tp-application-name
          required: true
          type: string
        - description: The version of the business application.
          in: header
          name: tp-application-version
          required: true
          type: string
        - description: The authorization header.
          in: header
          name: tp-authorization
          required: true
          type: string
        - description: >-
            The Express acceptorId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-acceptor-id
          required: true
          type: string
        - description: >-
            The Express accountId. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-id
          required: true
          type: string
        - description: >-
            The Express accountToken. If all three Express credentials are
            specified in the request headers, triPOS will use these credentials
            instead of the credentials in the triPOS.config for that request
            only.
          in: header
          name: tp-express-account-token
          required: true
          type: string
        - description: >-
            A unique ID for this request. This value should be a UUID or GUID.
[...]
